{% extends "base_layout.html" %}

{% block headers %}
  <title>Community Explorer Job Board</title>
  <meta name="description" content="Community Explorer Job Board">
  <meta name="keywords" content="community, job ads, job-board">
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='js/jsgrid/jsgrid.css') }}">
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='js/jsgrid/jsgrid-theme.css') }}">
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='css/jsgrid_comex.css') }}">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row smallspacerrow">&nbsp;</div>
    <div class="row">
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-centering-box col-lg-8 col-md-10 col-sm-12">
          <div id="intro">
            <h2 class="oldstyle">Job market</h2>
            <div class="message-hero">
              {{ message | safe }}
            </div>
            {% if can_edit %}
              <p class="mini-hero" style="clear:both">
                <ul>
                  <li>You can post a new job openings <a href="/services/addjob" target="addjob"> here</a>.</li>
                  <li>If you will be looking for a job in the next 12 months, you can mention it <a href="/services/user/profile/#job_looking" target="profile"> in your profile</a>.</li>
                  <li>All the posted jobs are visible to the public on <a href="/services/jobboard" target="jobboard">the main job market page</a>.</li>
                </ul>
              </p>
            {% else %}
              <p class="mini-hero" style="clear:both">
                <ul>
                  <li>You can post a new job openings <a href="/services/addjob" target="addjob"> here</a> (login required).</li>
                  <li>If you will be looking for a job in the next 12 months, you can mention it <a href="/services/user/profile/#job_looking" target="profile"> in your profile</a> (login required).</li>
                </ul>
              </p>
              <p class="mini-hero">
                To foster employment within the community, information about job opening and forthcoming
                availability of scholars is also displayed in the maps:
                <br/>
                <br/>
                  <img style="margin: 7px 15px 10px 0px; float:left" src="{{ url_for('static', filename='img/JobScholars.png') }}" width="250px">
                    <br/><i>In the community maps: </i> people who are currently offering a job opening are
                    highlighted with a light blue, scholars that will be looking for a job in the next 12 months
                    are highlighted in darkred.<br/>
                    <br/>
                    <br/>
                    <br/>
                  <img style="margin: 7px 15px 10px 0px; float:left" src="{{ url_for('static', filename='img/JobSem.png') }}" width="250px">
                    <br/><i>In the semantic maps: </i> keywords on which there is a job offer are highlighted in
                        orange and red according to the density of job offers
                    <br/>
              </p>
              {% endif %}
          </div>
      </div>

    </div>
    <div class="row">
      <div id="jobsgrid"><!--filled by comex_job_board.js--></div>
    </div>


    <!-- the job edition modal -->
    <div id="job-details" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content" style="min-width:700px">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            {% if can_edit %}
              <h4 class="modal-title"> Edit the job</h4>
            {% else %}
              <h4 class="modal-title"> Job details </h4>
            {% endif %}
          </div>
          <div class="modal-body">
            <!-- job form added by js createJobForm -->
            <div id="edit-job-container" class="uform-white"></div>
          </div>
          <div class="modal-footer">
            {% if can_edit %}
              <!-- <div class="menu-left-fixed"> -->
                <!-- main validation message -->
                <p id="main_message" class="legend" style="display:none"></p>
              <!-- </div> -->
              <button class="btn btn-default" data-dismiss="modal">
                Cancel
              </button>
              <button id="save-modified-job" class="btn btn-primary"
                type=button onclick="validateJobForm('comex_job_form',saveModifiedJob)">
                Save changes
              </button>
            {% else %}
              <button class="btn btn-default" data-dismiss="modal">
                Ok
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block last_imports %}
    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_user_autocompletes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comex_jobad_elements.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsgrid/jsgrid.js') }}"></script>
    <script type="text/javascript">
      // a frozen copy of our params: can_edit flag and all jobs info in json
      var params = {
        'jobsTable': {{ jobs_table | safe }},
        'isAdmin': {{ can_edit }},
        'user': {{ (current_user.json_info | safe) if current_user.info else ("null" | safe) }}
      }
      Object.freeze(params)
    </script>
    <!--  our js with jsgrid  -->
    <script src="{{ url_for('static', filename='js/comex_job_board.js') }}"></script>
{% endblock %}
