{% extends "base_layout.html" %}

{% block headers %}
  <title>Formulaire Community Explorer : nouvelle offre d'emploi</title>
  <meta name="description" content="Formulaire d'ajout d'offre d'emploi sur la plateforme Community Explorer (ISCPIF CNRS UPS 3611)">
  <meta name="keywords" content="complex systems, community, job ads, job-board">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
  {% include "job_form.html" %}
{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_user_autocompletes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comex_page_jobad_controllers.js') }}"></script>
{% endblock %}
