{% extends "base_layout.html" %}

{% block headers %}
  <title>Formulaire Community Explorer : nouvelle offre d'emploi</title>
  <meta name="description" content="Formulaire d'ajout d'offre d'emploi sur la plateforme Community Explorer (ISCPIF CNRS UPS 3611)">
  <meta name="keywords" content="complex systems, community, job ads, job-board">
{% endblock %}

<!-- ======================================================================= -->

{% block main_content %}
    <div class="row">
      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
      <div class="my-centering-box col-lg-8 col-md-10 col-sm-12">

        <!-- INTRODUCTION TEXT -->
        <div id="intro">
          <h2 class="oldstyle">Job Ad</h2>
              <p class="mini-hero">
                  Fill this <strong>job ad creation form</strong> to add a job ad to the <a href="/services/jobboard">Community Explorer Job-board</a>.
                  <br> (All fields are mandatory.)
              </p>
        </div>


        <!-- ########################### ( FORM ) ########################## -->
      <div class="uform">
        <form id="comex_job_form" enctype="multipart/form-data"
              method="post" onsubmit="console.info('submitted')">

            <!-- MISSION & KEYWORDS -->
            <h3 class="formcat">Missions and keywords</h3>

            <div class="question">
             <div class="input-group">
               <label for="mission_text" class="input-group-addon">
                 Job mission
               </label>

               <textarea id="mission_text" name="mission_text" maxlength="2400"
                         rows="7" style="resize:none"
                         class="form-control" placeholder="Describe the job here, along with main mission or tasks and required skills"
                         onblur="cmxClt.makeBold(this)" onfocus="cmxClt.makeNormal(this)"
                         ></textarea>
             </div>
             <p class="legend">~30 lines max (2400 chars)</p>
            </div>

            <div class="question">
             <div class="input-group tagbox-container">
               <label for="keywords" class="smlabel input-group-addon tagbox-label">Key subjects</label>
               <input id="keywords" name="keywords" maxlength="350"
                      type="text" class="form-control autocomp" placeholder="Add a keyword here">
             </div>
            </div>


            <!-- ORG DESCRIPTION & CONTACT MAIL -->
            <h3 class="formcat">Organization and contact</h3>


            <div class="question">
             <div class="input-group">
               <label for="recruiter_org_text" class="input-group-addon">
                 About the<br>recruiting<br>organization
               </label>

               <textarea id="recruiter_org_text" name="recruiter_org_text" maxlength="2400"
                         rows="7" style="resize:none"
                         class="form-control" placeholder="Describe the recruiting company or organization"
                         onblur="cmxClt.makeBold(this)" onfocus="cmxClt.makeNormal(this)"
                         ></textarea>
             </div>
             <p class="legend">Optional, ~30 lines max (2400 chars)</p>
            </div>

            <div class="question">
             <div class="input-group">
               <label for="email" class="smlabel input-group-addon">
                 Contact Email
               </label>
               <input id="email" name="email" maxlength="255"
                      type="text" class="form-control"
                      value="{{ current_user.doors_info.email if current_user.empty else current_user.info.email }}">
              </div>
              <p class="legend">Your email or any other contact email for the job.</p>
            </div>

            <div class="question">
              <div class="input-group">
                <label for="job_valid_date" class="smlabel input-group-addon"><small>Job available until ?</small></label>
                <input id="job_valid_date" name="job_valid_date" maxlength="10"
                       type="text" class="form-control" placeholder="ex: 2017/09/30">
              </div>
              <p class="legend">You can always remove the job manually before this date.</p>
            </div>

            <!-- hidden input for associated user id -->
            <input id="uid" name="uid" type="text" hidden
                  value="{{ current_user.uid | safe }}">
            </input>

            <!-- == S U B M I T == -->

            <!-- button instead of input.submit to validate before real submit action -->
            <!-- also remember stackoverflow.com/a/3315016/2489184 -->
            <div class="question">
                <button class="btn btn-lg btn-success" style="float:right"
                        id="form_submit" type=button disabled
                        onclick="console.log('yo submitting') ; submitJobForm()">
                        Submit your form
                </button>
            </div>

        </form>

       </div>
      </div>

      <div class="spacer col-lg-2 col-md-1 hidden-sm-down">&nbsp;</div>
    </div>

    <div class="menu-left-fixed">
      <!-- main validation message -->
      <p id="main_message" class="legend" style="display:none"></p>
    </div>


{% endblock %}

<!-- ======================================================================= -->

{% block last_imports %}
    <!--  our js  -->
    <script src="{{ url_for('static', filename='js/comex_user_autocompletes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comex_page_jobad_controllers.js') }}"></script>
{% endblock %}
